.offer{
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D4D4D4;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%)
}

.middle{
    display: flex;
    flex-direction: column;
}
.times{
    display: flex;
    gap: 5px;
}
.locations{
    display: flex;
    gap: 5px;
}
.price{
    display: flex;
    gap: 5px;
}
.aircompany{
    display: flex;
    align-items: center;
    gap: 5px;
}
.img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}