
.container{
    max-width: 1680px;
}
.offers{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-top: 10px;
    color: white;
}

.img{
    width: 50px;
    height: 50px;
}
.aircompany{
    display: flex;
}
