.popularOffers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}
.offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: min-content;
}
.offer {
  position: relative;
  display: inline-block;
}
.img {
  width: 400px;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
}
.destination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.offer:hover .destination{
    opacity: 1;
}
